@model HouseDetailsViewModel
@inject IAgentService agentService
@{
	bool isOwner = await agentService.HasHouseByIdAsync(Model.Id, User.GetId());
}

@{
	ViewBag.Title = "House Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
	<div class="row">
		@if (this.User.Identity.IsAuthenticated)
		{
			<div class="col-4">
				<img class="card-img-top" style="width: 100%;height:25.8rem;"
					 src="@Model.ImageUrl" alt="House Image">
			</div>
		}
		else
		{
			<div class="col-4">
				<img class="card-img-top" style="width: 100%;height:23rem;"
					 src="@Model.ImageUrl" alt="House Image">
			</div>
		}		
		<div class="card col-8 border-0">
			<h3 style="font-size:25px;"><u>@Model.Title</u></h3>
			<p>Located in: <b>@Model.Address</b></p>
			<p>
				Price Per Month:
				<b>@String.Format("{0:f2}", Model.PricePerMonth) BGN</b>
			</p>
			<p>@Model.Description</p>
			<p>
				Category:
				<b>@Model.Category</b>
			</p>
			<p style="font-style:italic">(@(Model.IsRented ? "Rented" : "Not Rented"))</p>
			<form class="mb-2">
				@if (this.User.Identity.IsAuthenticated)
				{
					@if (isOwner)
					{
						<a class="btn btn-warning" asp-controller="House" asp-action="Edit"
						   asp-route-id="@Model.Id">Edit</a>
						<a class="ml-2 btn btn-danger" asp-controller="House" asp-action="Delete"
						   asp-route-id="@Model.Id">Delete</a>
					}
					
					@if (!Model.IsRented && !isOwner)
					{
						<form class="ml-2" asp-controller="House" asp-action="Rent" 
						asp-route-id="@Model.Id" method="post">
							<input class="btn btn-primary" type="submit" value="Rent" />
						</form>
					}
					else if (Model.IsRented && !isOwner)
					{
						<form class="ml-2" asp-controller="House" asp-action="Leave"
							  asp-route-id="@Model.Id" method="post">
							<input class="btn btn-primary" type="submit" value="Leave" />
						</form>
					}
				}
			</form>
			<div class="card" style="width:17rem">
				<div class="card-body">
					<h5 class="card-title">Agent Info</h5>
					<p class="card-text">Email: @Model.Agent.Email</p>
					<p class="card-text">Phone Number: @Model.Agent.PhoneNumber</p>
				</div>
			</div>
		</div>
	</div>
</div>